# Filesystem specific
.DS_Store
.vscode/

# Compilation junk
*.o
build/
bin/
Makefile
*.tmp

# Accidental python files
*.ipynb
__pycache__

# Notation files
*.cson

# Temporary files
*.swp
*.ini

# Temporary Kokkos files
/Kokkos*
/*.a
extern/kokkos/
extern/plog/
extern/nttiny/