[submodule "extern/plog"]
	path = extern/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "extern/toml"]
	path = extern/toml
	url = https://github.com/ToruNiina/toml11.git
[submodule "extern/doctest"]
	path = extern/doctest
	url = https://github.com/doctest/doctest.git
[submodule "extern/nttiny"]
	path = extern/nttiny
	url = https://github.com/haykh/nttiny.git
	branch = master
[submodule "extern/kokkos"]
	path = extern/kokkos
	url = https://github.com/kokkos/kokkos.git
	branch = master
[submodule "extern/adios2"]
	path = extern/adios2
	url = https://github.com/ornladios/ADIOS2.git
	branch = master
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git