# Filesystem specific
.DS_Store

# Compilation junk
*.o
*.tmp
build/
build_tests/
bin/
Makefile

# Accidental python files
*.ipynb
__pycache__

# Notation files
*.cson

# Temporary files
*.swp
*.ini

# Temporary Kokkos files
/Kokkos*
/*.a

# Trash files
.trash/

# Problem generator template
src/.temp/

.vscode/*.log

script_ntt
script_vis

.venv

# Temporary media files
*.png
*.mov
*.mp4

temp/
logs/

*ipynb_checkpoints
extern/