[submodule "extern/plog"]
	path = extern/plog
	url = git@github.com:haykh/plog.git
[submodule "extern/toml"]
	path = extern/toml
	url = git@github.com:ToruNiina/toml11.git
[submodule "extern/doctest"]
	path = extern/doctest
	url = git@github.com:doctest/doctest.git
[submodule "extern/nttiny"]
	path = extern/nttiny
	url = git@github.com:haykh/nttiny.git
	branch = master
[submodule "extern/kokkos"]
	path = extern/kokkos
	url = git@github.com:kokkos/kokkos.git
	branch = master
[submodule "extern/adios2"]
	path = extern/adios2
	url = git@github.com:ornladios/ADIOS2.git
	branch = master
