# Filesystem specific
.DS_Store

# Compilation junk
*.o
*.tmp
build*/
bin/

# Accidental python files
*.ipynb
__pycache__

# Notation files
*.cson

# Temporary files
*.swp
*.ini

# Trash files
.trash/

.vscode/*.log

.venv/
venv/

# Temporary media files
*.png
*.mov
*.mp4

temp*/
logs/

*ipynb_checkpoints

.vscode/c_cpp_properties.json
.vscode/settings.json