:root {
  font-variant-ligatures: normal;
  font-size: 1.25em;
}

[data-md-color-scheme="default"] {
  --md-admonition-bg-color: hsl(232, 25%, 98%);
}

[data-md-color-scheme="slate"] {
  --md-admonition-bg-color: hsl(232, 15%, 25%);
  --md-typeset-a-color: hsl(231, 100%, 64%);
}



.md-header {
  box-shadow: none;
}

/* Home */
.entity-cover {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .entity-cover {
    height: 100px;
  }
}

[data-md-color-scheme="default"] .entity-cover {
  background-image: url("../assets/cover_light.gif");
}

[data-md-color-scheme="slate"] .entity-cover {
  background-image: url("../assets/cover_dark.gif");
}

.nt-card {
  background-color: var(--md-admonition-bg-color) !important;
  box-shadow: var(--md-shadow-z1) !important;
  border: .05rem solid #448aff !important;
  border-radius: 2px;
}

.nt-card-image {
  background-size: contain !important;
}

[data-md-color-scheme="default"] .nt-card.core .nt-card-image {
  background-image: url("../assets/icons/framework-icon-dark.svg") !important;
}

[data-md-color-scheme="default"] .nt-card.sim .nt-card-image {
  background-image: url("../assets/icons/engine-icon-dark.svg") !important;
}

[data-md-color-scheme="default"] .nt-card.vis .nt-card-image {
  background-image: url("../assets/icons/vis-icon-dark.svg") !important;
}

.nt-timeline-item:nth-child(1) .nt-timeline-dot {
  background-color: #0b7be3 !important;
}

.nt-timeline-item:nth-child(2) .nt-timeline-dot {
  background-color: #7b5de7 !important;
}

.nt-timeline-item:nth-child(3) .nt-timeline-dot {
  background-color: #c357de !important;
}

.nt-timeline-item:nth-child(4) .nt-timeline-dot {
  background-color: #d63aa7 !important;
}

.nt-timeline-dot {
  border-radius: 25% 0% 0% 25% !important;
  border: 1px solid white !important;
  width: 45px !important;
}

.nt-timeline.vertical.left .nt-timeline-items {
  background: linear-gradient(#0b7be3,
      #7b5de7,
      #c357de,
      #d63aa7) no-repeat 30px/2px 100% !important;
}

.nt-timeline.vertical.left .nt-timeline-before {
  background: linear-gradient(rgba(252, 70, 107, 0) 0%, #0b7be3 100%) no-repeat 30px/2px 100% !important;
}

.nt-timeline.vertical.left .nt-timeline-after {
  background: linear-gradient(#d63aa7 0%, rgba(252, 70, 107, 0) 100%) no-repeat 30px/2px 100% !important;
}

/* Header */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

[data-md-color-scheme="slate"] header {
  background: linear-gradient(-45deg, #0b7be3, #7b5de7, #c357de, #d63aa7);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

[data-md-color-scheme="default"] header {
  background: linear-gradient(-45deg, #301330, #2f2f2f, #311953, #1f1919);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

/* Additional admonition */

:root {
  --md-admonition-icon--code: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 3h2v2H5v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5h2v2H5c-1.07-.27-2-.9-2-2v-4a2 2 0 0 0-2-2H0v-2h1a2 2 0 0 0 2-2V5a2 2 0 0 1 2-2m14 0a2 2 0 0 1 2 2v4a2 2 0 0 0 2 2h1v2h-1a2 2 0 0 0-2 2v4a2 2 0 0 1-2 2h-2v-2h2v-5a2 2 0 0 1 2-2 2 2 0 0 1-2-2V5h-2V3h2m-7 12a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1m-4 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1m8 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1Z" /></svg>')
}

.md-typeset .admonition.code,
.md-typeset details.code {
  border-color: rgb(155, 43, 140);
}

.md-typeset .code>.admonition-title,
.md-typeset .code>summary {
  background-color: rgba(155, 43, 140, 0.1);
}

.md-typeset .code>.admonition-title::before,
.md-typeset .code>summary::before {
  background-color: rgb(155, 43, 140);
  -webkit-mask-image: var(--md-admonition-icon--code);
  mask-image: var(--md-admonition-icon--code);
}

/* Code blocks */

[data-md-color-scheme="slate"]:root>* {
  --md-code-hl-keyword-color: #BD96C2;
  --md-code-hl-punctuation-color: #74B0B1;
  --md-code-hl-operator-color: #72AEAF;
  --md-code-hl-name-color: #CED3DD;
  --md-code-hl-number-color: #EA9662;
  --md-code-hl-function-color: #7198C7;
  --md-code-hl-string-color: #A2C699;
  --md-code-hl-comment-color: #67737D;
}

.hide-overflow-x code {
  white-space: pre-wrap !important;
}

/* Katex */
.katex-display {
  margin: 0px;
}

.katex .text>.mord {
  font-family: var(--md-text-font);
  font-weight: normal;
}

.katex .tag {
  right: 25px !important;
}

/* p5 canvases */

.p5canvas input {
  background-color: var(--md-admonition-bg-color);
}

#plot_ax_01 th {
  min-width: 3rem !important;
}

#plot_ax_01 input {
  width: 60px;
}

#plot_ax_01 input[type="range"] {
  width: 120px;
}

#plot_ax_01 button {
  color: white;
  padding: 10px 0px 10px 0px;
  background-color: var(--md-primary-fg-color);
}

div[id^="plot"] .label,
div[id^="grplot"] .label,
div[id^="plot"] .tick text,
div[id^="grplot"] .tick text {
  font-family: 'JetBrains Mono';
  font-size: 16px;
}

@media (max-width: 992px) {

  div[id^="plot"] .label,
  div[id^="grplot"] .label,
  div[id^="plot"] .tick text div[id^="grplot"] .tick text {
    font-size: 0.6em;
  }
}

[data-md-color-scheme="slate"] div[id^="plot"] .label,
[data-md-color-scheme="slate"] div[id^="grplot"] .label {
  fill: var(--md-default-fg-color--light);
}