[simulation]
  name    = "reconnection"
  engine  = "srpic"
  runtime = 10000.0

  [simulation.domain]
    decomposition = [-1, 2]

[grid]
  resolution = [4096, 2048]
  extent     = [[-500.0, 500.0], [-250.0, 250.0]]

  [grid.metric]
    metric = "minkowski"

  [grid.boundaries]
    fields    = [["PERIODIC"], ["MATCH", "MATCH"]]
    particles = [["PERIODIC"], ["ABSORB", "ABSORB"]]

    [grid.boundaries.match]
      ds = [[10.0], [20.0]]

[scales]
  larmor0    = 0.1
  skindepth0 = 1.0

[algorithms]
  current_filters = 8

  [algorithms.timestep]
    CFL = 0.5

[particles]
  ppc0 = 8.0

  [[particles.species]]
    label    = "e-"
    mass     = 1.0
    charge   = -1.0
    maxnpart = 1e7

  [[particles.species]]
    label    = "e+"
    mass     = 1.0
    charge   = 1.0
    maxnpart = 1e7

[setup]
  bg_B           = 1.0
  bg_Bguide      = 0.0
  bg_temperature = 1e-4
  inj_ypad       = 50.0
  cs_width       = 10.0
  cs_overdensity = 3.0

[output]
  format        = "bpfile"
  interval_time = 100.0

  [output.fields]
    quantities = ["N_1", "N_2", "E", "B", "J"]

  [output.particles]
    stride = 25

  [output.spectra]
    enable = false
