<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-simple-slider@1.10.4/dist/d3-simple-slider.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">

<style>
  .d3svg .axes, .d3svg text {
    font-family: 'PT Mono', monospace;
    font-size: 14px;
  }
  .d3svg .label {
    font-size: 10px;
    fill: var(--body-font-color);
  }
  .d3svg .axes-grid {
    opacity: 0.1;
  }
</style>
