name: Unit tests

on:
  pull_request:
    branches:
      - '**rc'
      - 'master'

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        device: [amd-gpu, nvidia-gpu]
        precision: [double, single]
        exclude: 
        - device: amd-gpu 
          precision: double
        # my AMD GPUs doesn't support fp64 atomics : (
    runs-on: [self-hosted, "${{ matrix.device }}"]
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Configure
        run: |
          if [ "${{ matrix.device }}" = "nvidia-gpu" ]; then
            FLAGS="-D Kokkos_ENABLE_CUDA=ON -D Kokkos_ARCH_AMPERE86=ON"
          elif [ "${{ matrix.device }}" = "amd-gpu" ]; then
            FLAGS="-D Kokkos_ENABLE_HIP=ON -D Kokkos_ARCH_AMD_GFX1100=ON"
          fi
          cmake -B build -D TESTS=ON -D output=ON -D precision=${{ matrix.precision }} $FLAGS
      - name: Compile
        run: |
          cmake --build build -j $(nproc)
      - name: Run tests
        run: |
          ctest --test-dir build --output-on-failure --verbose
